streamlit==1.26.0 
requests==2.31.0   
beautifulsoup4==4.12.2 
faiss-cpu==1.7.3   
numpy==1.24.3     
sentence-transformers==2.2.2  
langchain==0.0.208 
cohere==4.10.1  
pip==24.2
cohere==4.9.0  
setuptools==58.0.4
